body {
	margin:0;
	padding:0;
	text-align:center;
	font:normal 14px Helvetica, Arial, sans-serif;
}

body * {
	margin:0;
	padding:0;	
}

ul, ol {
	list-style:none;
}

a, a:link, a:visited {
	color:#90a000;
	font-weight:bold;
}

a:hover {
	color:#646f00;
}

td {
	vertical-align:top;
}

#container {
	width:900px;
	margin:0 auto;
	text-align:left;
}

#logo {
	margin-left:-75px;	
}

#logo a,
#logo a:link,
#logo a:visited {
	display:block;
	width:234px;
	height:50px;
	overflow:hidden;
	text-indent:-9999px;
	background:transparent url(../img/logo.png) 0 0 no-repeat;
}

#logo a:hover{
	background-position:0 -50px;
}

#logo {
	float:left;
}

#user {
	padding:10px 0 0 0;
	float:right;
}

#user li {
	float:left;
	margin:0 10px 0 0;
	padding:0 10px 0 0;
	border-right:#999 1px solid;
}

#user li.last-c {
	margin:0;
	padding:0;
	border:1px solid ;
}

#nav {
	clear:both;
	font-size:16px;
}

#nav li {
	float:left;	
	padding:5px 10px;
	margin:0 10px 0 0;
}

#nav li.first-c {
	padding:0px;
}

#nav li.selected {
	background:#90a000;
}

#nav li.selected a,
#nav li.selected a:hover {
	color:#fff;
}

#nav a {
	color:#999;
}

#nav a:hover {
	color:#646f00;
}


#content {
	border-top:#90a000 1px solid;
	clear:both;
}

h1 {
	margin:10px 0;
}

#alert {
	font-size:14px;
	background:#ffffcc;
	color:#999;
	padding:10px;
	margin-left:200px;
}

.data {
	margin:10px 0 0 0;
	width:100%;
	border-collapse:collapse;
}

.data tr:hover {
	background:#fafafa;
	cursor:pointer;
}

.data tr.header:hover {
	background:transparent;
	cursor:default;
}

.data tr.new td {
	background:#ecf4a2;
}

.data td {
	border-bottom:#eee 1px dotted;	
	padding:3px;
}	

#footer {
	text-align:left;
	margin:20px 0 0 0;
	color:#999
}

#footer span {
	padding-right:30px;
}

.form td {
	padding-bottom:5px;
}

#new-store {
	z-index:2;
	padding:20px 30px;
	position:absolute;
	margin:20px auto;
	top:0;
	left:150px;
	width:600px;
	border:#000 2px solid;
	background:#fff;
}

#new-store h1 {
	margin-top:0;
}

#modal {
	z-index:1;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:.5;
	background:#000;
}

.label {
	width:130px;	
	text-align:right;
	padding-right:15px;
}

.value input {
	width:250px;
}

.value textarea {
	width:300px;
}

.value select {
	width:100px;
}

#storeZip {
	width:70px;
}

#storeState {
	width:50px;
}

#new-store-actions {
	text-align:right;
}